@import '../main.styl'

.searchPage
  .noPadd
    padding 0 !important

    .barbersList
      &.list
        margin auto

      li
        min-height 70px
        margin-bottom 35px

      .card
        width 400px
        margin auto

        span
          text-transform capitalize