@import '../../node_modules/vuetify/src/stylus/app'
@import './theme.styl'

.application
  font-weight 500

  .navigation-drawer__border
    z-index: 6

  .list__tile--active
    color black !important

  .center
    margin auto

  .container
    padding 25px !important

  .layout
    padding 20px
