@import '../../node_modules/vuetify/src/stylus/app'
@import './theme.styl'

.application
  font-weight 300 !important
  background-color #ffffff !important

  .navigation-drawer__border
    z-index: 6

  .list__tile--active
    font-weight 300 !important
    color black !important

  .center
    margin auto

  .container
    padding 0 !important

  .layout
    padding 20px

    &.el100
      height 100vh
      marvin auto
