@import '../../node_modules/vuetify/src/stylus/app'
@import './theme.styl'

.application
  font-weight 300 !important

  .navigation-drawer__border
    z-index: 6

  .list__tile--active
    font-weight 300 !important
    color black !important

  .center
    margin auto

  .container
    padding 25px !important

  .layout
    padding 20px
